<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room creation</title>
  </head>
  <body>
    <div class="createRoomBox">
      <div id="errorBox" class="errorBox">
        <p id="errorMsg">Room already exist</p>
      </div>
      <div class="createRoomHead">
        <img src="assets/close.png" id="closeCreateRoom" alt="close" />
        <h2>Create Room</h2>
      </div>
      <div class="createRoomInputs">
        <div class="create-roomname">
          <input type="text" id="roomname" placeholder="Enter room name"/>
        </div>
        <!-- <div class="create-inputs">
          <label for="WinPoint">Winning point: </label>
          <input type="radio" name="point" id="5" /><label for="5">5</label>
          <input type="radio" name="point" id="10" checked /><label for="10"
            >10</label
          >
          <input type="radio" name="point" id="20" /><label for="20">20</label>
          <input type="radio" name="point" id="endless" /><label for="endless"
            >Endless</label
          >
        </div> -->
        <button id="createRoomBtn">Create</button>
      </div>
    </div>
  </body>
</html>
