<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
  </head>
  <body>
    <div class="gameBox">
      <!-- <div class="gameHeader">
        <div class="score">
          <h3>Your Score</h3>
          <h1 id="score1">0</h1>
        </div>
        <div class="score">
          <h3>Oponent Score</h3>
          <h1 id="score2">0</h1>
        </div>
      </div> -->

      <div class="gameBoard">
        <h2 id="wait">Wait for oponent</h2>
        <div id="gameButtonsBox" class="gameButtonsBox">
          <div class="fround">
            <div class="round" id="paper"></div>
            <div class="round" id="scissors"></div>
          </div>

          <div class="lround">
            <div class="round" id="rock"></div>
          </div>
        </div>
        <div id="waitingBoard" class="waitingBoard">
          <div class="wboxes">
            <h3>Player One</h3>
            <div id="player1" class="wbox"></div>
          </div>
          <div id="resultBox" class="resultBox">
            <h1 id="winMsg"></h1>
            <button id="againBtn">PLAY AGAIN</button>
            <button id="homeBtn">HOME</button>
          </div>
          <div class="wboxes">
            <h3>Player Two</h3>
            <div id="player2" class="wbox"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
