<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room creation</title>
  </head>
  <body>
    <div class="joinRoomBox">
      <div class="joinRoomHead">
        <img src="assets/close.png" id="closejoinRoom" alt="close" />
        <h2>Join Room</h2>
      </div>

      <div class="joinRoomContainer">
        <div class="joinRoomInp">
          <input type="text" name="" id="joinRoomName" placeholder="Enter room name"/>
        </div>
       
        <button id="JoinBtn">Join</button>
      </div>
    </div>
  </body>
</html>
